<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script type="text/javascript" src="/basic/validate/bootstrapValidator.js"></script>
	<title>修改学生</title>
	<script type="text/javascript" src="/admin/bussness/school.js"></script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
	<div class="header lighter smaller blue">
		<h3><i class="fa fa-plus"></i>&nbsp;修改学生（<span th:text="${student.name}" th:remove="tag"></span>）</h3>
		<div th:replace="admin/student/nav :: content" th:remove="tag"></div>
	</div>

	<form method="POST" th:object="${student}" id="dataForm">
		<input name="schId" th:value="${student.schId}" type="hidden"/>
		<input name="schName" th:value="${student.schName}" type="hidden"/>
		<input name="claId" th:value="${student.claId}" type="hidden"/>
		<input name="claName" th:value="${student.claName}" type="hidden"/>
		<div class="form-group form-group-lg">
			<div class="input-group">
				<div class="input-group-addon">学生姓名：</div>
				<input name="name" type="text" class="form-control" th:value="${student.name}" placeholder="请输入姓名" />

				<div class="input-group-addon">学生学号：</div>
				<input name="stuNo" type="text" class="form-control" th:value="${student.stuNo}" placeholder="请输入学生学号" />
			</div>
		</div>
		<div class="form-group form-group-lg">
			<div class="input-group">
				<div class="input-group-addon">手机号码：</div>
				<input name="phone" type="text" class="form-control" th:value="${student.phone}" placeholder="请输入手机号" />

				<div class="input-group-addon">身份证号：</div>
				<input name="identity" type="text" class="form-control" th:value="${student.identity}" placeholder="请输入身份证号" />
			</div>
		</div>

		<div class="form-group form-group-lg">
			<div class="input-group">
				<div class="input-group-addon">父亲姓名：</div>
				<input name="fatherName" type="text" class="form-control" th:value="${student.fatherName}" placeholder="请输入父亲姓名" />

				<div class="input-group-addon">父亲电话：</div>
				<input name="fatherPhone" type="text" class="form-control" th:value="${student.fatherPhone}" placeholder="请输入父亲电话" />
			</div>
		</div>

		<div class="form-group form-group-lg">
			<div class="input-group">
				<div class="input-group-addon">母亲姓名：</div>
				<input name="motherName" type="text" class="form-control" th:value="${student.motherName}" placeholder="请输入母亲姓名" />

				<div class="input-group-addon">母亲电话：</div>
				<input name="motherPhone" type="text" class="form-control" th:value="${student.motherPhone}" placeholder="请输入母亲电话" />
			</div>
		</div>

		<div class="form-group form-group-lg">
			<div class="input-group input-group-lg">
				<div class="input-group-addon">学生性别</div>
				<div class="form-control">
					<input type="radio" name="sex" value="1" id="status_1" th:checked="${student.sex == '1'}?'checked'"/><label for="status_1">男</label>
					<input type="radio" name="sex" value="2" id="status_0" th:checked="${student.sex == '2'}?'checked'"/><label for="status_0">女</label>
				</div>
			</div>
		</div>

		<div class="form-group form-group-lg">
			<div class="input-group">
				<div class="input-group-addon">住所地址：</div>
				<input name="address" type="text" class="form-control" th:value="${student.address}" placeholder="请输入住所地址" />
			</div>
		</div>

		<input type="hidden" name="token" value="${session.token}"/>
		<button type="submit" class="btn btn-primary">确定提交</button>
	</form>
</div>
</body>
</html>