<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content" th:remove="tag">
            <div id="sys_filter" class="form-inline" style="padding-bottom:10px;">
                <div class="input-group">
                    <span class="input-group-addon">状态</span>
                    <select name="filter_status" opt="eq" class='filter_element form-control'>
                        <option value="">=全部=</option>
                        <option value="0">发送成功</option>
                        <option value="-6">非法关键字</option>
                        <option value="-5">余额不足</option>
                        <option value="-4">无效手机号</option>
                    </select>
                </div>

                <span><button type="button" class="btn btn-primary btn-sm" id="beginFilter">查询</button></span>
            </div>
        </div>
    </body>
</html>
